@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?h5fxzy');
    src:    url('fonts/icomoon.eot?h5fxzy#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?h5fxzy') format('truetype'),
        url('fonts/icomoon.woff?h5fxzy') format('woff'),
        url('fonts/icomoon.svg?h5fxzy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e900";
}
.icon-play:before {
    content: "\e901";
}
.icon-books:before {
    content: "\e902";
}
.icon-folder-open:before {
    content: "\e903";
}
.icon-price-tags:before {
    content: "\e904";
}
.icon-compass:before {
    content: "\e905";
}
.icon-display:before {
    content: "\e906";
}
.icon-mobile:before {
    content: "\e907";
}
.icon-bubbles2:before {
    content: "\e908";
}
.icon-user-tie:before {
    content: "\e909";
}
.icon-spinner9:before {
    content: "\e90a";
}
.icon-happy:before {
    content: "\e90b";
}
.icon-happy2:before {
    content: "\e90c";
}
.icon-smile:before {
    content: "\e90d";
}
.icon-smile2:before {
    content: "\e90e";
}
.icon-tongue:before {
    content: "\e90f";
}
.icon-tongue2:before {
    content: "\e910";
}
.icon-sad:before {
    content: "\e911";
}
.icon-sad2:before {
    content: "\e912";
}
.icon-wink:before {
    content: "\e913";
}
.icon-wink2:before {
    content: "\e914";
}
.icon-grin:before {
    content: "\e915";
}
.icon-grin2:before {
    content: "\e916";
}
.icon-cool:before {
    content: "\e917";
}
.icon-cool2:before {
    content: "\e918";
}
.icon-angry:before {
    content: "\e919";
}
.icon-angry2:before {
    content: "\e91a";
}
.icon-evil:before {
    content: "\e91b";
}
.icon-evil2:before {
    content: "\e91c";
}
.icon-shocked:before {
    content: "\e91d";
}
.icon-shocked2:before {
    content: "\e91e";
}
.icon-baffled:before {
    content: "\e91f";
}
.icon-baffled2:before {
    content: "\e920";
}
.icon-confused:before {
    content: "\e921";
}
.icon-confused2:before {
    content: "\e922";
}
.icon-neutral:before {
    content: "\e923";
}
.icon-neutral2:before {
    content: "\e924";
}
.icon-hipster:before {
    content: "\e925";
}
.icon-hipster2:before {
    content: "\e926";
}
.icon-wondering:before {
    content: "\e927";
}
.icon-wondering2:before {
    content: "\e928";
}
.icon-sleepy:before {
    content: "\e929";
}
.icon-sleepy2:before {
    content: "\e92a";
}
.icon-frustrated:before {
    content: "\e92b";
}
.icon-frustrated2:before {
    content: "\e92c";
}
.icon-crying:before {
    content: "\e92d";
}
.icon-crying2:before {
    content: "\e92e";
}
.icon-google:before {
    content: "\e92f";
}
.icon-google-plus:before {
    content: "\e930";
}
.icon-facebook:before {
    content: "\e931";
}
.icon-github:before {
    content: "\e932";
}
.icon-tumblr:before {
    content: "\e933";
}
.icon-appleinc:before {
    content: "\e934";
}
.icon-android:before {
    content: "\e935";
}
.icon-linkedin2:before {
    content: "\e936";
}
.icon-lastfm:before {
    content: "\e937";
}
.icon-lastfm2:before {
    content: "\e938";
}
.icon-pinterest:before {
    content: "\e939";
}
.icon-foursquare:before {
    content: "\e93a";
}
.icon-chrome:before {
    content: "\e93b";
}
.icon-firefox:before {
    content: "\e93c";
}
.icon-IE:before {
    content: "\e93d";
}
.icon-safari:before {
    content: "\e93e";
}
.icon-file-word:before {
    content: "\e93f";
}

