// Variables of custom scheme
// =================================================


// 修改成你期望的宽度
//$content-desktop = 800px
// 当视窗超过 1600px 后的宽度
//$content-desktop-large = 1000px


// 文本段落上色
span.inline-span {
  display:inline;
  padding:.3em .4em;
  font-size:80%;
  font-weight:bold;
  line-height:1;
  color:#fff;
  text-align:center;
  white-space:nowrap;
  vertical-align:baseline;
  border-radius:.2em;
  margin: auto .5em;
}
span.yellow {
  background-color: #f0ad4e;
}
span.green {
  background-color: #5cb85c;
}
span.blue {
  background-color: #2780e3;
}
span.purple {
  background-color: #9954bb;
}
span.red {
  background-color: #df3e3e;
}
div.div-border {
  display: block;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
div.left-red {
  border-left-width: 5px;
  border-left-color: #df3e3e;
}
div.left-yellow {
  border-left-width: 5px;
  border-left-color: #f0ad4e;
}
div.left-green {
  border-left-width: 5px;
  border-left-color: #5cb85c;
}
div.left-blue {
  border-left-width: 5px;
  border-left-color: #2780e3;
}
div.left-purple {
  border-left-width: 5px;
  border-left-color: #9954bb;
}
div.right-red {
  border-right-width: 5px;
  border-right-color: #df3e3e;
}
div.right-yellow {
  border-right-width: 5px;
  border-right-color: #f0ad4e;
}
div.right-green {
  border-right-width: 5px;
  border-right-color: #5cb85c;
}
div.right-blue {
  border-right-width: 5px;
  border-right-color: #2780e3;
}
div.right-purple {
  border-right-width: 5px;
  border-right-color: #9954bb;
}
div.top-red {
  border-top-width: 5px;
  border-top-color: #df3e3e;
}
div.top-yellow {
  border-top-width: 5px;
  border-top-color: #f0ad4e;
}
div.top-green {
  border-top-width: 5px;
  border-top-color: #5cb85c;
}
div.top-blue {
  border-top-width: 5px;
  border-top-color: #2780e3;
}
div.top-purple {
  border-top-width: 5px;
  border-top-color: #9954bb;
}
